
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/cssPropio.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <img src="~/Images/logo.png" />
            <br /><br />
            <h1>Registro de Visitas</h1>
        </div>
        <div class="col-1"></div>
        <div class="col-2 text-center">
            <a href="../Login/Cerrar">Cerrar Sesión</a>
        </div>
    </div>
    <hr />
    <div id="ModalPropio">
    </div>
    <hr />
    <div id="TablaPropia">
    </div>


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Visita/Visita.js"></script>
    <script src="~/Scripts/Visita/Modal.js"></script>
</body>

</html>
